node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock
.next
dist
.turbo
.git
*.md
.env
.env.*
!.env.example
!.env.production
.vscode
.idea
*.log
.DS_Store
coverage
.nyc_output
apps/mobile/node_modules
apps/api-gateway/node_modules
packages/*/node_modules
packages/*/dist
packages/*/.turbo