# API Gateway Environment Variables
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_ID=
TELEGRAM_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
TWILIO_AUTH_TOKEN=
BACKEND_URL=
